<!DOCTYPE html>
<html>
<head>
    <title> This is the hello page</title>
</head>
<body>
    <h1>Madlibs</h1>
    <form action="/story">
        <label for="story_words"></label> <!-- associating the label id with the input id-->
        <br> Place: <input type="text" name="place" id="place" placeholder="write a place"> <br>
        <br> Noun: <input type="text" name="noun" id="noun" placeholder="write a noun"> <br>
        <br> Verb: <input type="text" name="verb" id="verb" placeholder="write a verb"> <br>
        <br> Adjective: <input type="text" name="adjective" id="adjective" placeholder="write a adjective"> <br>
        <br> Plural_Noun: <input type="text" name="plural_noun" id="plural_noun" placeholder="write a plural_noun"> <br>
        <br> <button> Submit </button> <br>
    </form>
</body>
</html>